[login]
user_agent = "Redditswapbot - Python bot for automating mod tasks for trade subreddits"
username = YOUR_USERNAME
password = YOUR_PASSWORD
client_id = YOUR_CLIENT_ID
client_secret = YOUR_CLIENT_SECRET

[subreddit]
uri = YOUR_SUBREDDIT_URI
name = YOUR_SUBREDDIT_NAME

[logging]
dest = flatfile
sentry =

[mysql]
hostname = MYSQL_HOST_NAME
username = MYSQL_USER_NAME
password = MYSQL_PASSWORD
database = MYSQL_DATABASE

[trade]
link_id = TRADE_POST_LINK_ID
prevlink_id = PREVIOUS_MONTH_TRADE_POST_LINK_ID
reply = Added
flair_check = 1
age_check = 14
age_warning = Your account has been created recently, this has been sent for further review.
karma_check = 10
karma_warning = You do not have enough karma, this has been sent for further review.
user_db = user.db
flair_dev = 2
deviation_warning = Flair deviation detected.  The mods have been notified to review.

[post_check]
# For submission flair categories and locations see submission_categories.json and locations.json
# For categorization of trade posts
trade_post_format = \[(.*)\].*\[H\](.*)\[W\](.*)
# Formatting check, should be stricter than above expression, remove line if previous check is enough for your use
trade_post_format_strict = ^\[[A-Z-]{2,}\] ?\[H\][^\[\]]*\[W\][^\[\]]*$
# Informational posts have their categorization and strict check done at the same time
informational_post_format = ^\[([^\[\]]*)\][^\[\]]*$
# Regex for checking for timestamps
timestamp_regex = http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%%[0-9a-fA-F][0-9a-fA-F]))+
# Default category for personal posts
default_category = Trading
rules = /wiki/rules/rules
upper_hour = 24
lower_min = 5

[price]
link_id = PRICE_CHECK_POST_LINK_ID

[heatware]
# Short link id for latest heatware post
link_id = HEATWARE_POST_LINK_ID
# Regex for heatware (or other sites)
regex = ^(https?:\/\/(?:www\.)?heatware\.com\/((eval\.php\?id=)|(u\/))\d{1,7}(?:\/to\/?)?)$
# Reply from the bot when adding new text flair to user
# Empty string means no reply
add_msg = Added
# Report comment if user already have text flair set
report_overwrite = True
# Allow bot to overwrite text flair of users
overwrite_flair = False
# Message to reply with if user already has text flair set
# Examples are "Added" if overwrite_flair is true, or
# "Your flair update needs manual review" if overwrite_flair is false.
# Empty string means no reply
overwrite_msg = Your flair update needs manual review
